<div class="page-header">
  <h1>
    About
  </h1>
</div>

<div class="container">
  <h1 class="text-center">Code</h1>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 col-md-push-7">
      <img class="featurette-image img-responsive" src="//i.imgur.com/nykLble.png" alt="node.js logo">
    </div>
    <div class="col-md-7 col-md-pull-5">
      <h2 class="featurette-heading">Our code is 100% Javascript, thanks to Node.js</h2>
      <p class="lead">Node.js is an open source, cross-platform runtime environment for server-side and networking applications.</p>
      <p>Node.js applications are written in JavaScript, and can be run within the Node.js runtime on OS X, Microsoft Windows, Linux and FreeBSD.</p>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="//i.imgur.com/ZCCZehI.png" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">And it's 100% open source, there's a link to everything you need to contribute to ETP or build your own project at the bottom</h2>
      <p class="lead">GitHub is a Git repository web-based hosting service, which offers all of the distributed revision control and source code management (SCM) functionality of Git as well as adding its own features.</p>
      <p>Unlike Git, which is strictly a command-line tool, GitHub provides a web-based graphical interface and desktop as well as mobile integration. It also provides access control and several collaboration features such as wikis, task management, and
        bug tracking and feature requests for every project.</p>
    </div>
  </div>

  <h1>Backend</h1>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="//i.imgur.com/SL36iyu.png" alt="ember.js logo">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">We're hosted on Bluemix™'s Cloud Foundry</h2>
      <p class="lead">IBM Bluemix is an open-standards, cloud platform for building, running, and managing applications.</p>
      <p>With Bluemix, developers can focus on building excellent user experiences with flexible compute options, choice of DevOps tooling, and a powerful set of IBM and third-party APIs and services.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 col-md-push-7">
      <img class="featurette-image img-responsive" src="//i.imgur.com/SxcI8ym.jpg" alt="ember.js logo">
    </div>
    <div class="col-md-7 col-md-pull-5">
      <h2 class="featurette-heading">Build with Watson</h2>
      <p class="lead">Dialog, Natural Language Classifier, Retrieve and Rank, and Document Conversion</p>
      <p>What if you could automatically consume and process data such as tweets, chats, emails and integrate them into your data applications? Deep learning makes it easier than ever before. Get six practical examples for data-driven teams using deep learning
        today.
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="//i.imgur.com/3X2JSNb.png" alt="ember.js logo">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Sails.js serves our API quickly to any device</h2>
      <p class="lead">Sails makes it easy to build custom, enterprise-grade Node.js apps.</p>
      <p>It is designed to emulate the familiar MVC pattern of frameworks like Ruby on Rails, but with support for the requirements of modern apps: data-driven APIs with a scalable, service-oriented architecture. It's especially good for building chat, realtime
        dashboards, or multiplayer games; but you can use it for any web application project - top to bottom.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 col-md-push-7">
      <img class="featurette-image img-responsive" src="//i.imgur.com/2wHcjgX.png" alt="Generic placeholder image">
    </div>
    <div class="col-md-7 col-md-pull-5">
      <h2 class="featurette-heading">MongoDB takes care of our messy data that could grow larger than we imagine</h2>
      <p class="lead">MongoDB is an open-source, document database designed for ease of development and scaling.</p>
      <p>The Manual introduces key concepts in MongoDB, presents the query language, and provides operational and administrative considerations and procedures as well as a comprehensive reference section.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="//i.imgur.com/m9wbU5s.png" alt="ember.js logo">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">While MariaDB handles our well structured data that may need complex queries</h2>
      <p class="lead">MariaDB strives to be the logical choice for database professionals looking for a robust, scalable, and reliable SQL server.</p>
      <p>To accomplish this, the MariaDB Foundation work closely and cooperatively with the larger community of users and developers in the true spirit of Free and open source software, and release software in a manner that balances predictability with reliability.</p>
    </div>
  </div>
</div>

<div class="container">
  <h1>Frontend</h1>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 col-md-push-7">
      <img class="featurette-image img-responsive" src="//i.imgur.com/QgERiyu.png" alt="ember.js logo">
    </div>
    <div class="col-md-7 col-md-pull-5">
      <h2 class="featurette-heading">Ember makes frontend development fast and easy</h2>
      <p class="lead">Ember.js is an open-source client-side JavaScript web application framework based on the model-view-controller (MVC) software architectural pattern.</p>
      <p>It allows developers to create scalable single-page applications by incorporating common idioms and best practices into a framework that provides a rich object model, declarative two-way data binding, computed properties, automatically-updating
        templates powered by Handlebars.js, and a router for managing application state.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="//i.imgur.com/2P5kdPx.png" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">And like everyone else, we've got those Bootstrap blues</h2>
      <p class="lead">Bootstrap is a free collection of tools for creating websites and web applications.</p>
      <p>It contains HTML and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions. In June 2014 it was the No.1 project on GitHub with over 73,000 stars and more
        than 27,000 forks, and a user base that includes MSNBC and NASA.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5 col-md-push-7">
      <img class="featurette-image img-responsive" src="//i.imgur.com/ICEE6DF.png" alt="ember.js logo">
    </div>
    <div class="col-md-7 col-md-pull-5">
      <h2 class="featurette-heading">And last but not least, thank Imgur for hosting these pics</h2>
      <p class="lead">Imgur is an image community that creates, consumes and shares tomorrow's viral images, today.</p>
      <p>Millions of images are uploaded each day to Imgur, where they are distilled by the Imgurian community into a stream of the Internet's best images and viewed billions of times. Expect to laugh, cry and be inspired by the images you'll find here.</p>
    </div>
  </div>

</div>

<div class="container">
  <h2 class="text-center"><a href="https://developers.google.com/speed/pagespeed/insights/?url=selby.io&tab=desktop">How are we doing?</a></h2>
</div>

<div class="container">
  <!-- Jumbotron -->
  <div class="jumbotron">
    <h2>Any of this sound cool to you?</h2>
    <p class="lead">Want to build cool things, have a feature you'd like to see, or just think something could be done better?</p>
    <p class="lead">This webapp is 100% open source, and most of the software used is avaliable on every platform and is heavily documented. So make it happen!</p>
    <p class="lead">Contributions are always welcome.</p>
    <div class="row text-center">
      <div class="col-xs-3 col-centered">
          <a type="button" class="btn btn-default" href="https://github.com/orgs/elthpre">
            <div class="media">
              <div class="media-left media-middle text-center">
                  <img class="media-object block-center" src="//i.imgur.com/Y0Iqabp.png" alt="...">
              </div>
              <div class="media-body center-center">
                <h4 class="media-heading text-center">Fork on Github</h4>
              </div>
            </div>
          </a>
      </div>
    </div>
  </div>
</div>
