<div class="container">
<h2 id="title">Electing the President</h2>
<div class="menu">
  {{#link-to 'questions.index'}}Questions{{/link-to}}
  {{#link-to 'users.index'}}Users{{/link-to}}
  {{#if session.isAuthenticated}}
    {{#link-to 'admin.models.index'}}Models{{/link-to}}
    <a {{action 'invalidateSession'}}>Logout</a>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</div>
<div class="main">
  {{outlet}}
</div>
</div>
